<section id="sidebar">

  <!-- Intro -->
  <section id="intro">
    <a href="/" class="logo"><img src="/images/logo.jpg" alt="" /></a>
    <header>
      <h2>{{ config.name }}</h2>
      <p>{{ config.slogan }}</p>
    </header>
  </section>
  <!--sidebar-unused-->
  <!-- About -->
  <section class="blurb">
    <h2>About</h2>
    <p>{{config.about}}</p>
    <ul class="actions">
      <li><a href="#" class="button">Learn More</a></li>
    </ul>
  </section>

  <section id="tags-cloud">
    <h2>Tags</h2>
    {{#each cloud}}
      <a href="{{this.pth}}" style="font-size: {{tagCloud this.wght}}em">
        {{this.ctg}} ({{this.wght}})&nbsp;
      </a>
      {{/each}}
  </section>

  <!-- Footer -->
  <section id="footer">
    <ul class="icons">
      {{#if config.social.facebook}}
      <li><a href="{{config.social.facebook}}" class="fa-facebook"><span class="label">Facebook</span></a></li>
      {{/if}}
      <!--<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>-->
      <!--<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>-->
      <!--<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>-->
      {{#if config.social.mail}}
      <li><a href="mailto:{{config.social.mail}}" class="fa-envelope"><span class="label">Email</span></a></li>
      {{/if}}
    </ul>
    <p class="copyright">&copy; {{ config.name }}. Design: <a href="http://html5up.net">HTML5 UP</a>. </p>
  </section>

</section>
