{{#extend "default"}}
{{#content "main"}}
<div id="main">
  {{#each prismic.post.results}}
  <article class="post">
    <header>
      <div class="title">
        <h2><a href="/{{../../this.path}}/">{{{ this.data.title.html }}}</a></h2>
        <p>{{{ this.data.description.html }}}</p>
      </div>
      <div class="meta">
        <time class="published" datetime="{{#formatDate this.data.date.json.value}}{{/formatDate}}">
          {{#formatDate this.data.date.json.value format="DD-MM-YYYY"}}{{/formatDate}}
        </time>
        {{{author this.data.author ../../prismic/author }}}
      </div>
    </header>
    {{#if this.data.image}}
    <a href="{{this.data.image.json.main.url}}" class="image featured">
      {{image this.data.image}}
    </a>
    {{/if}}
    <div id="content">
    {{{this.data.body.html}}}
    </div>

    <ul class="related-posts">
      <h3>{{../../lang.related-posts}}</h3>
      {{#each ../../related}}
      <li><a href="/{{this.path}}">{{this.title}}</a></li>
      {{/each}}
    </ul>

    <footer class="blog-post">
      <div class="wrapper">
        {{> social-likes}}
      </div>
      <ul class="stats">
        {{#each this.tags}}
        <li>{{{tag this}}}</li>
        {{/each}}
      </ul>
    </footer>
  </article>
  {{/each}}
</div>
{{/content}}
{{/extend}}
