{{#extend "default"}}
  {{#content "main"}}
    <div id="main">

      {{#each prismic.post.results}}
      <article class="post">
        <header>
          <div class="title">
            <h2><a href="{{linkTo this}}">{{{ this.data.title.html }}}</a></h2>
            <p>{{{ this.data.description.html }}}</p>
          </div>
          <div class="meta">
            <time class="published" datetime="{{#formatDate this.data.date.json.value}}{{/formatDate}}">
              {{#formatDate this.data.date.json.value format="DD-MM-YYYY"}}{{/formatDate}}
            </time>
            {{{author this.data.author ../../prismic/author }}}
          </div>
        </header>
        <a href="this.data.image.json.main.url" class="image featured">
          {{{image this.data.image true}}}
        </a>
        <p>{{{this.data.body.html}}}</p>

        <footer>
          <ul class="stats">
            {{#each this.tags}}
            <li>{{{tag this}}}</li>
            {{/each}}
          </ul>
        </footer>
      </article>
      {{/each}}
    </div>
  {{/content}}
{{/extend}}
