{{#extend "default"}}
  {{#content "main"}}
  <div id="main">
    {{#each pagination.files}}
      {{#each this.prismic.post.results}}
        <article class="post">
          <header>
            <div class="title">
              <h2><a href="{{ linkTo this }}">{{{ this.data.title.html }}}</a></h2>
              <p>{{{ this.data.description.html }}}</p>
            </div>
            <div class="meta">
              <time class="published" datetime="{{#formatDate this.data.date.json.value}}{{/formatDate}}">{{#formatDate this.data.date.json.value format="DD-MM-YYYY"}}{{/formatDate}}</time>
              {{{author this.data.author ../prismic/author }}}
            </div>
          </header>
          <a href="{{linkTo this}}" class="image featured">
            {{{image this.data.image true}}}
          </a>
          <p>{{{truncate this.data.body.html}}}</p>
          <footer>
            <ul class="actions">
              <li><a href="{{linkTo this}}" class="button big">{{../../lang.continue-reading}}</a></li>
            </ul>
            <ul class="stats">
              {{#each this.tags}}
              <li>{{{tag this}}}</li>
              {{/each}}
            </ul>
          </footer>
        </article>
      {{/each}}
    {{/each}}

    {{#if pagination}}
    <ul class="actions pagination">
      {{#if pagination.previous}}
      <li><a href="/{{removeIndex pagination.previous.path}}" class="button big previous">{{lang.previous}}</a></li>
      {{else}}
      <li><a href="#" class="disabled button big previous">{{lang.previous}}</a></li>
      {{/if}}

      {{#if pagination.next}}
      <li><a href="/{{removeIndex pagination.next.path}}" class="button big next">{{lang.next}}</a></li>
      {{else}}
      <li><a href="#" class="disabled button big next">{{lang.next}}</a></li>
      {{/if}}
    </ul>
    {{/if}}

  </div>
  {{/content}}
{{/extend}}
