@import "main.scss";
@import "../bower_components/social-likes/social-likes_birman.css";

.image.featured img {
  width: 100%;
  height: auto;
}
.block-img img {
  text-align: center;
  max-width: 100%;
  height: auto;
}

.author img {
  border-radius: 100%;
  display: block;
  width: 5em !important;
  height: auto;
}

ul.related-posts {
  @extend ul.actions;
  list-style: disc;

  & li {
    display: list-item;
  }
}

header p {
  font-size: 1.1em;
  letter-spacing: 0;
}

// Footer setting

.post > footer.blog-post {
  flex-direction: row;
  margin: 1.5em 0;

  .wrapper {
    order: 0;
    flex: 1;
  }

  ul.stats {
    margin: 0;
    display: flex;
    flex-grow: inherit;
  }
}

// Feature image
.image.featured {
  margin: 0 0 1.5em 0;
}