@import "main.scss";
@import "../bower_components/social-likes/social-likes_birman.css";

.image.featured img {
  width: 100%;
  height: auto;
}
.block-img img {
  text-align: center;
  max-width: 100%;
  height: auto;
}

.author img {
  border-radius: 100%;
  display: block;
  width: 5em !important;
  height: auto;
}

ul.related-posts {
  @extend ul.actions;
  list-style: disc;

  & li {
    display: list-item;
  }
}

header p {
  font-size: 1.1em;
  letter-spacing: 0;
}
